.App {
  display: flex;
  flex-direction: column;

  .body {
    display: flex;
    flex-direction: row;
  }
}

.app-loader {
  position: relative;
  margin: 200px auto;

  .loader {
    height: 75px !important;
    width: 75px !important;
  }
}

.table-head {
  background-color: #d8d8d8;

  th {
    color: #565656;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 40px 8px 16px;
  }
}

tbody {
  tr {
    td {
      &.table-profile {
        padding: 0px;

        img {
          position: relative;
          top: 3px;
          height: 35px;
          width: 35px;
          border-radius: 50%;
        }
      }
    }
  }
}

.permissions {
  display: flex;
  flex-direction: row;

  div {
    padding: 5px;
    border: 1px solid #d8d8d8;
    margin-right: 8px;
    text-transform: uppercase;
    font-weight: 100;

    &:last-of-type {
      margin-right: 0px;
    }
  }
}

.non-account-body {
  width: 70%;
  margin: 100px auto;
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(4, 0, 0, 0.5);
  border-radius: 5px;

  .non-account-body-header {
    border-bottom: 2px solid #d8d8d8;
    margin-bottom: 30px;
    width: 100%;
  }
}

.error-icon {
  width: 150px !important;
  height: 150px !important;
  margin-bottom: 20px;
  color: #bd7676;
}

.error-message {
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  .link {
    color: #4a90e2;

    &:hover {
      cursor: pointer;
      color: rgb(54, 109, 172);
    }
  }
}
