

.body-container {
  height: calc(100vh - 50px);
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding:30px;
  padding-top: 0px;
  overflow-y: scroll;
  

  .body-header {
    padding-top: 10px;
    border-bottom: 2px solid #D8D8D8;
    margin-bottom: 30px;
    background-color:white;
    position: sticky;
    top: 0px;
    z-index: 2;

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-direction: row;
      height:50px;
      align-items: center;
      text-transform: capitalize;
      color: #565656;

      li {
        margin-right: 10px;

        &.end-page {
          font-size: 28px;
        }
      }
    }
  }
}